<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judger.mapper.SubmitMapper">
	<resultMap type="Submit" id="submitMap">
		<id column="sid" property="sid"/>
		<result column="result" property="result"/>
		<result column="useTime" property="useTime"/>
		<result column="useMemary" property="useMemary"/>
		<result column="code" property="code"/>
		<result column="judged" property="judged"/>
		<result column="isContest" property="isContest"/>
		<!-- <association property="user" column="uid"   select="com.hhoj.judger.mapper.UserMapper.findUserById"></association> -->
		<association property="problem" column="pid" select="com.hhoj.judger.mapper.ProblemMapper.findProblemById"></association>
		<association property="language" column="languageId" select="com.hhoj.judger.mapper.LanguageMapper.findLanguageById"></association>
	</resultMap>
    <select id="findById" parameterType="Integer" resultMap="submitMap">
        select sid,pid,result,useTime,useMemary,code,languageId,judged,isContest from t_submit where sid=#{id}
    </select>
    <select id="count" resultType="Integer">
    	select count(*) from t_submit;
    </select>
    
        <update id="update" parameterType="Submit">
    	update t_submit  
    	<set>
    		<if test="result!=null and result!=''">
    		 result=#{result},
	    	</if>
	    	<if test="useTime!=null">
	    		useTime=#{useTime},
	    	</if>
	    	<if test="useMemary!=null">
	    		useMemary=#{useMemary},
	    	</if>
	    	<if test="judged!=null">
	    		judged=#{judged},
	    	</if>
	    	
    	</set>
    	
    	where sid=#{sid}
    </update>
   
</mapper>