<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judger.mapper.TestPointMapper">
   <select id="findPointListByProblemId" parameterType="Integer" resultType="TestPoint">
   		select pointId,pid,input,output from t_testpoint where pid=#{pid}
   </select>
</mapper>