<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judger.mapper.ContestMapper">

<cache ></cache>

<resultMap type="Contest" id="contestMap">
	<id column="contestId" property="contestId"/>
	<result column="title" property="title"/>
	<result column="contestDesc" property="desc"/>
	<result column="joinNumber" property="joinNumber"/>
	<result column="startTime" property="startTime"  javaType="java.util.Date" jdbcType="BIGINT"/>
	<result column="endTime" property="endTime" javaType="java.util.Date" jdbcType="BIGINT"/>
	<result column="startJoinTime" property="startJoinTime" javaType="java.util.Date" jdbcType="BIGINT"/>
	<result column="endJoinTime" property="endJoinTime"  javaType="java.util.Date" jdbcType="BIGINT"/>
	<result column="contestPassword" property="contestPassword" />
	<result column="status" property="status"/>
	<association property="initiator" column="initiator" select="com.hhoj.judger.mapper.UserMapper.findUserById"></association>
	
</resultMap>

<sql id="fields">
 contestId,title,contestDesc,joinNumber,startTime,endTime,startJoinTime,endJoinTime,contestPassword,initiator,status
</sql>
	
	<select id="findContests" resultMap="contestMap" parameterType="PageBean">
	
		select <include refid="fields"></include> from t_contest
		
		order by startJoinTime desc 
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
    <select id="findContestById" parameterType="Integer" resultMap="contestMap"  >
        select <include refid="fields"></include> from t_contest where contestId=#{contestId}  
    </select>
    
    <select id="findCount" resultType="Integer">
   
    	select count(*) from t_contest
    	
    </select>
    
    <insert id="addContest" parameterType="Contest" useGeneratedKeys="true" keyProperty="contestId">
    	insert into t_contest  ( <include refid="fields"></include> ) 
    	values (null,#{title},#{desc},#{joinNumber},
    	#{startTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
    	#{endTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
    	#{startJoinTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
    	#{endJoinTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
    	#{contestPassword},#{initiator.uid},#{status})
    </insert>
    
    <update id="updateContest" parameterType="Contest">
    	update t_contest  
    	<set>
    	
    		<if test="title!=null and title!=''">
    		 title=#{title},
	    	</if>
	    	<if test="desc!=null and desc!=''">
	    		contestDesc=#{desc},
	    	</if>
	    	<if test="joinNumber!=null and joinNumber!=''">
	    		joinNumber=#{joinNumber},
	    	</if>
	    	<if test="startTime!=null and startTime!=''">
	    		startTime=#{startTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="endTime!=null and endTime!=''">
	    		endTime=#{endTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="startJoinTime!=null and startJoinTime !='' ">
	    		startJoinTime=#{startJoinTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="endJoinTime!=null and endJoinTime!=''">
	    		endJoinTime=#{endJoinTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="contestPassword!=null and contestPassword!=''">
	    		contestPassword=#{contestPassword},
	    	</if>
	    	<if test="initiator!=null and initiator.uid!=null ">
	    		initiator=#{createTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="status!=null">
	    		status=#{status},
	    	</if>
    	</set>
    	
    	where contestId=#{contestId}
    </update>
   
   <delete id="removeContest" parameterType="Integer">
   	delete from t_contest where contestId =#{contestId}
   </delete>
</mapper>