<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judger.mapper.ProblemMapper">

<cache ></cache>

<resultMap type="Problem" id="problemMap">
	<id column="pid" property="pid"/>
	<result column="title" property="title"/>
	<result column="pDesc" property="desc"/>
	<result column="inputExample" property="inputExample"/>
	<result column="outputExample" property="outputExample"/>
	<result column="hint" property="hint"/>
	<result column="source" property="source"/>
	<result column="timeLimit" property="timeLimit"/>
	<result column="memaryLimit" property="memaryLimit" />
	<result column="createTime" property="createTime" javaType="java.util.Date" jdbcType="BIGINT"/>
	<result column="accepted" property="accepted"/>
	<result column="submited" property="submited"/>
	<result column="publish" property="publish"/>
	<association property="type" column="typeId" select="com.hhoj.judger.mapper.ProblemTypeMapper.findProblemTypeById"></association>
	
</resultMap>

<sql id="info">
 pid,title,pDesc,inputExample,outputExample,hint,source,timeLimit,memaryLimit,createTime,accepted,submited,typeId,publish
</sql>
	
	<select id="findProblems" resultMap="problemMap" >
	
		select <include refid="info"></include> from t_problem
		<where>
			<if test="problem.pid!=null" >
				and pid=#{problem.pid} 
			</if>
			<if test="problem.title!=null and problem.title!=''">
    		and title like #{title}
	    	</if>
	  		<if test="problem.publish!=null">
	  			and publish =#{problem.publish}
	  		</if>
		</where>
		<if test="pageBean!=null">
			limit #{pageBean.start},#{pageBean.size}
		</if>
	</select>
	
	<select id="findAcceptProblemByUId" parameterType="Integer" resultType="Integer">
		select distinct pid from t_submit where result='Accepted' and uid=#{uid}
	</select>
	
    <select id="findProblemById" parameterType="Integer" resultMap="problemMap"  >
        select <include refid="info"></include> from t_problem where pid=#{pId}  
    </select>
    
    <select id="findCount" resultType="Integer" parameterType="Problem">
   
    	select count(*) from t_problem
    	<where>
			<if test="pid!=null" >
				and pid=#{pid} 
			</if>
			<if test="title!=null and title!=''">
    		and title like #{title}
	    	</if>
	  		<if test="publish!=null">
	  			and publish =#{publish}
	  		</if>
		</where>
    </select>
    
    <insert id="addProblem" parameterType="Problem" useGeneratedKeys="true" keyProperty="pid">
    	insert into t_problem  ( <include refid="info"></include> ) values (null,#{title},#{desc},#{inputExample},#{outputExample},#{hint},#{source},#{timeLimit},#{memaryLimit},#{createTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},#{accepted},#{submited},#{type.typeId},#{publish})
    </insert>
    
    <update id="updateProblem" parameterType="Problem">
    	update t_problem  
    	<set>
    	
    		<if test="title!=null and title!=''">
    		 title=#{title},
	    	</if>
	    	<if test="desc!=null and desc!=''">
	    		pDesc=#{desc},
	    	</if>
	    	<if test="inputExample!=null and inputExample!=''">
	    		inputExample=#{inputExample},
	    	</if>
	    	<if test="outputExample!=null and outputExample!=''">
	    		outputExample=#{outputExample},
	    	</if>
	    	<if test="hint!=null and hint!=''">
	    		hint=#{hint},
	    	</if>
	    	<if test="source!=null and source !='' ">
	    		source=#{source},
	    	</if>
	    	<if test="timeLimit!=null">
	    		timeLimit=#{timeLimit},
	    	</if>
	    	<if test="memaryLimit!=null">
	    		memaryLimit=#{memaryLimit},
	    	</if>
	    	<if test="createTime!=null">
	    		createTime=#{createTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},
	    	</if>
	    	<if test="accepted!=null">
	    		accepted=#{accepted},
	    	</if>
	    	<if test="submited!=null">
	    		submited=#{submited},
	    	</if>
	    	<if test="type!=null and type.typeId">
	    		typeId=#{type.typeId},
	    	</if>
	    	<if test="publish!=null">
	  			publish =#{publish}
	  		</if>
    	</set>
    	
    	where pid=#{pid}
    </update>
   
   
   
   <delete id="removeProblem" parameterType="Integer">
   	delete from t_problem where pid =#{pid}
   </delete>
</mapper>