<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judger.mapper.SubmitMapper">

<!-- <cache ></cache> -->

<resultMap type="Submit" id="submitMap">
	<id column="sid" property="sid"/>
	<result column="result" property="result"/>
	<result column="useTime" property="useTime"/>
	<result column="useMemary" property="useMemary"/>
	<result column="code" property="code"/>
	<result column="judged" property="judged"/>
	<result column="isContest" property="isContest"/>
	<result column="submitTime" property="submitTime" typeHandler="com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler"/>
	<association property="user" column="uid"   select="com.hhoj.judger.mapper.UserMapper.findUserById"></association>
	<association property="problem" column="pid" select="com.hhoj.judger.mapper.ProblemMapper.findProblemById"></association>
	<association property="language" column="languageId" select="com.hhoj.judger.mapper.LanguageMapper.findLanguageById"></association>
</resultMap>

<sql id="fields">
 sid,uid,pid,result,useTime,useMemary,code,submitTime,languageId,judged,isContest
</sql>
	
	<select id="findSubmits"  resultMap="submitMap" >
		
		select <include refid="fields"></include> from t_submit
		<where>
			
			<if test="submit.user!=null and submit.user.uid!=''">
    		    and uid=#{submit.user.uid}
	    	</if>
	  		<if test="submit.problem!=null and submit.problem.pid!=null">
	  			and pid=#{submit.problem.pid}
	  		</if>
	  		<if test="submit.language!=null and submit.language.languageId!=null"> 
	  			and languageId=#{submit.language.languageId}
	  		</if>
	  		<if test="submit.judged!=null">
	  			and judged=#{submit.judged}
	  		</if>
	  		<if test="submit.result!=null and submit.result!=''">
	  			and result=#{submit.result}
	  		</if>
	  		<if test="submit.isContest!=null">
	  			and isContest=#{submit.isContest}
	  		</if>
		</where>
		 order by submitTime desc 
		<if test="pageBean!=null">
			limit #{pageBean.start},#{pageBean.size}
		</if>
	</select>
	
    <select id="findSubmitById" parameterType="Integer" resultMap="submitMap"  >
        select <include refid="fields"></include> from t_submit where sid=#{sid}  
    </select>
    
    <select id="findCount" resultType="Integer" parameterType="Submit">
    	select count(*) from t_submit
		<where>
			
			<if test="user!=null and user.uid!=''">
    		    and uid=#{user.uid}
	    	</if>
	  		<if test="problem!=null and problem.pid!=null">
	  			and pid=#{problem.pid}
	  		</if>
	  		<if test="language!=null and language.languageId!=null">
	  			and languageId=#{language.languageId}
	  		</if>
	  		<if test="judged!=null">
	  			and judged=#{judged}
	  		</if>
	  		<if test="result!=null and result!=''">
	  			and result=#{result}
	  		</if>
	  		<if test="isContest!=null">
	  			and isContest=#{isContest}
	  		</if>
		</where>
    </select>
    
    <insert id="addSubmit" parameterType="Submit" useGeneratedKeys="true" keyProperty="sid">
    	insert into t_submit ( <include refid="fields"></include> ) values (null,#{user.uid},#{problem.pid},#{result},#{useTime},#{useMemary},#{code},#{submitTime,typeHandler=com.hhoj.judger.mapper.typehandler.DateToLongTypeHandler},#{language.languageId},#{judged},#{isContest})
    </insert>
    
    <update id="updateSubmit" parameterType="Submit">
    	update t_submit  
    	<set>
    		<if test="result!=null and result!=''">
    		 result=#{result},
	    	</if>
	    	<if test="useTime!=null">
	    		useTime=#{useTime},
	    	</if>
	    	<if test="useMemary!=null">
	    		useMemary=#{useMemary},
	    	</if>
	    	<if test="judged!=null">
	    		judged=#{judged},
	    	</if>
	    	
    	</set>
    	
    	where sid=#{sid}
    </update>
   
   <delete id="removeSubmit" parameterType="Integer">
   	delete from t_submit where sid =#{sid}
   </delete>
</mapper>