<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
     
     <!-- 配置组件扫描器，使用注解方式开发,不用配置dao和service --> 
     <context:component-scan base-package="com.hhoj.judger"/>
    <!--    <aop:config>
       		<aop:aspect ref="permissionAspect">
       			<aop:pointcut expression=" execution(* com.hhoj.judger.controller..*.*(..))" id="pc"/>
       			<aop:around pointcut-ref="pc" method="around"/>
       		</aop:aspect>
       </aop:config> -->
       
       <bean id="permissionAspect" class="com.hhoj.judger.aspect.PermissionAspect"></bean>
    <!-- 数据源 -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/hhoj?useUnicode=true&amp;characterEncoding=utf8" />
        <property name="username" value="root" />
        <property name="password" value="121314" />
    </bean>
     
    <!-- 配置session工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描mappers.xml文件 -->
		<property name="mapperLocations" value="classpath:com/hhoj/judger/mapper/*.xml"></property>
		<!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>
        <!-- 配置多个Mapper -->
    	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    		<property name="basePackage" value="com.hhoj.judger.mapper"></property>
    		<property name="sqlSessionFactory"  ref="sqlSessionFactory"></property>
    	</bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- 配置与判题机通讯的服务器 -->
 	<bean id="mqServer" class="com.hhoj.judger.redis.mq.MQServer" destroy-method="close">
 		<constructor-arg index="0" value="localhost"></constructor-arg>
 		<constructor-arg index="1" value="result-queue"></constructor-arg>
 		<constructor-arg index="2" value="submit-queue"></constructor-arg>
 	</bean>
 
 	<!-- 延迟队列用于存放未开始的比赛 -->
 	<bean id="contestDelayQueue" class="java.util.concurrent.DelayQueue">
 	</bean>
 	
 	<!-- 用于结束比赛的线程池 -->
 	<bean id="scheduledExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor" destroy-method="shutdown">
 	 <constructor-arg index="0" value="2" />
 	</bean>
</beans>