<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
     
     <!-- 配置组件扫描器，使用注解方式开发,不用配置dao和service --> 
     <context:component-scan base-package="com.hhoj.judger"/>
    <!--    <aop:config>
       		<aop:aspect ref="permissionAspect">
       			<aop:pointcut expression=" execution(* com.hhoj.judger.controller..*.*(..))" id="pc"/>
       			<aop:around pointcut-ref="pc" method="around"/>
       		</aop:aspect>
       </aop:config> -->
       
       <bean id="permissionAspect" class="com.hhoj.judger.aspect.PermissionAspect"></bean>
    <!-- 数据源 -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/hhoj" />
        <property name="username" value="root" />
        <property name="password" value="121314" />
    </bean>
     
    <!-- 配置session工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描mappers.xml文件 -->
		<property name="mapperLocations" value="classpath:com/hhoj/judger/mapper/*.xml"></property>
		<!-- mybatis配置文件 -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>
        <!-- 配置多个Mapper -->
    	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    		<property name="basePackage" value="com.hhoj.judger.mapper"></property>
    		<property name="sqlSessionFactory"  ref="sqlSessionFactory"></property>
    	</bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
     
   	<!-- 配置事务通知属性 -->  
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <!-- 定义事务传播属性 -->  
        <tx:attributes>  
            <tx:method name="insert*" propagation="REQUIRED" />  
            <tx:method name="update*" propagation="REQUIRED" />  
            <tx:method name="edit*" propagation="REQUIRED" />  
            <tx:method name="save*" propagation="REQUIRED" />  
            <tx:method name="add*" propagation="REQUIRED" />  
            <tx:method name="new*" propagation="REQUIRED" />  
            <tx:method name="set*" propagation="REQUIRED" />  
            <tx:method name="remove*" propagation="REQUIRED" />  
            <tx:method name="delete*" propagation="REQUIRED" />  
            <tx:method name="change*" propagation="REQUIRED" />  
            <tx:method name="check*" propagation="REQUIRED" />  
            <tx:method name="get*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="find*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="load*" propagation="REQUIRED" read-only="true" />  
            <tx:method name="*" propagation="REQUIRED" read-only="true" />  
        </tx:attributes>  
    </tx:advice> 
      
     <!-- 配置AOP，为添加事务管理的操作配置AOP -->
    <aop:config>
        <!-- 引入的Spring定义的事务通知，需要使用aop:advisor -->
        <aop:advisor advice-ref="txAdvice"
            pointcut="execution(* cn.hhoj.judger.service.*.*(..))"
        />
    </aop:config>
    
    <!-- 配置与判题机通讯的服务器 -->
 	<bean id="submitSender" class="com.hhoj.judger.mq.SubmitSender" destroy-method="stop">
 	</bean>
 	<bean id="submitReceiver" class="com.hhoj.judger.mq.SubmitReceiver" destroy-method="close">
 	</bean>
 	<bean id="submitMessageListener" class="com.hhoj.judger.mq.SubmitMessageListener"></bean>
 	<!-- 延迟队列用于存放未开始的比赛 -->
 	<bean id="contestDelayQueue" class="java.util.concurrent.DelayQueue">
 	</bean>
 	
 	<!-- 用于结束比赛的线程池 -->
 	<bean id="scheduledExecutorService" class="java.util.concurrent.ScheduledThreadPoolExecutor" destroy-method="shutdown">
 	 <constructor-arg index="0" value="2" />
 	</bean>
</beans>