
  .hhoj_navbar_box{
   width: auto;
   height: 50px;
   background-color:   #7EC0EE;
  }
  .nav_center{
  position: relative;
   left: 30%;
    margin: 0 auto;
  }
  
.problem_language{
	
	width: 200px;
}

.font-title{
	font-style:normal;
	font-size:22px;
	font-weight: bolder;
	color:#7EC0EE;
	
}
.problem_name{
	text-align: center;	
}

.font-style{	
	font-family: inherit;
}
.problem-position{
	margin: 0 auto;
}