<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhoj.judge.mapper.SubmitMapper">
    <select id="findById" parameterType="Integer" resultType="Submit">
        select * from t_submit where id=#{id}
    </select>
    <select id="count" resultType="Integer">
    	select count(*) from t_submit;
    </select>
    
    <update id="update" parameterType="Submit">
    	update t_submit set result=#{result},useTime=#{useTime},useMemary=#{useMemary},judged=#{judged};
    </update>
   
</mapper>